<!--==================== FOOTER ====================-->
<footer class="footer">
  <div class="footer_bg">
    <div class="footer_container container grid">
<!--      <div>-->
        <h1 class="footer_title">{{profile?.firstName + " "+ profile?.middleName + " " + profile?.lastName}}</h1>
        <!--        <span class="footer_subtitle">Frontend Developer</span>-->
<!--      </div>-->

      <!--      <ul class="footer_links">-->
      <!--        <li>-->
      <!--          <a href=""></a>-->
      <!--        </li>-->
      <!--      </ul>-->

<!--      <div class="footer_socials">-->
<!--        <a class="footer_social" href="{{profile?.socialLinks?.linkedin}}" target="_blank">-->
<!--          <i class='bx bxl-linkedin'></i>-->
<!--        </a>-->
<!--        <a class="footer_social" href="{{profile?.socialLinks?.twitter}}" target="_blank">-->
<!--          <i class='bx bxl-twitter'></i>-->
<!--        </a>-->
<!--        <a class="footer_social" href="{{profile?.socialLinks?.instagram}}" target="_blank">-->
<!--          <i class='bx bxl-instagram'></i>-->
<!--        </a>-->
<!--        <a class="footer_social" href="{{profile?.socialLinks?.stackoverflow}}" target="_blank">-->
<!--          <i class='bx bxl-stack-overflow'></i>-->
<!--        </a>-->
<!--        <a class="footer_social" href="{{profile?.socialLinks?.github}}" target="_blank">-->
<!--          <i class='bx bxl-github'></i>-->
<!--        </a>-->

<!--      </div>-->
    </div>
    <div class="footer_disclaimer">
      <p class="footer_tech">Made with
        <i class='bx bxl-spring-boot' appTooltip="Spring Boot" style="position: relative"></i>
        &
        <i class='bx bxl-angular' appTooltip="Angular" style="position: relative"></i></p>
      <p class="footer_copy">&#169; JCodeX. All Rights Reserved</p>

    </div>
  </div>

</footer>

<a href="#" class="scrollup" id="scroll-up" (scroll)="scrollUp($event)">
  <i class="uil uil-arrow-up scrollup_icon"></i>
</a>
